body{
    background-color:black;
    color :white;
    font-family: 'JetBrains Mono', monospace;
}
img{
    width: 5%;
    height: 5%;
}
.nav {
    display :flex;
    justify-content:space-between;
}
.nav-items {
    list-style: none;
    display: flex;
}
.nav-items > li {
    padding: 10px;
}

.main-data {
   
    justify-content:center;
    align-items: center;
}